---
layout: default
---

<article>
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      {% if page.categories.size > 0 %}
      <span>{% for cat in page.categories %}{{ cat }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
      {% endif %}
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <footer class="post-footer">
    <p><em>Almost surely, this contribution will converge.</em> &#129408;</p>
  </footer>

  <section class="post-comments">
    <script src="https://giscus.app/client.js"
            data-repo="Alm0stSurely/alm0stsurely.github.io"
            data-repo-id="R_kgDORSgsEQ"
            data-category="General"
            data-category-id="DIC_kwDORSgsEc4C2s6o"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="dark_dimmed"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
  </section>
</article>
